.cart{
    width: pxArem(300);
    height: 80%;
    padding: pxArem(15);
    text-align: center;
    background-color: white;
    position: fixed;
    right: pxArem(-300);
    top: pxArem(100);
    box-shadow: 0 0 pxArem(10) rgba(0, 0, 0, 0.1);
    border-radius: pxArem(6);
    transition: transform 0.3s ease-in-out;
    #closecart{
        position: absolute;
        top: pxArem(15);
        right: pxArem(15);
        &:hover{
            cursor:pointer;
            fill: red;
        }
    }
    h2{
        margin-bottom: pxArem(12);
    }
    &__container{
       height: pxArem(300);
        overflow-y: scroll;
        padding: pxArem(15);
        background-color: yellow;
        p{
            margin: pxArem(12) auto;
        }
    }
    .productReview{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 18px;
    img{
      width: 30px;
      height: 30px;
      cursor: pointer;
    } 
    p{
      font-size: 15px;
      font-weight: 500;
    }
    h3{
      font-size: 15px;
      font-weight: 500;
    }
  }

  .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: pxArem(20) pxArem(24);
    p{
        font-weight: 600;
    }
    
  }
  .pagobutton{
        width: 100%;
        height: pxArem(42);
        color: white;
        background-color: black;
        border-radius: pxArem(9);
        cursor: pointer;
        font-size: pxArem(18);
    }
}

.visible{
    display: block;
    transform: translateX(pxArem(-300));
}