
    .footer__container{
        position: relative;
        top: pxArem(100);
        background: linear-gradient(90deg, #242323 25%, #5f5e5e 50%, #242323);
        padding: pxArem(16) 0;
        height: pxArem(450);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: pxArem(90);
            height: pxArem(60);
            display: block;
            margin: 0 auto;
            
        }
        h3{
            color: white;
            font-size: pxArem(24);
            text-align: center;
            margin: pxArem(15) 0;
        }
        p{
            color: white;
            font-size: pxArem(18);
            text-align: center;
            margin: pxArem(15) 0;
        }
        
    }

    .footer__icons{
            display: flex;
            justify-content: center;
            gap: pxArem(21);
            align-items: center;
            margin: pxArem(15) 0;
            svg{
                cursor: pointer;
                &:hover{
                    fill:#1d1c1c;
                }
            }
        }
