.navbar{
    width: 100%;
    height: 100px; //altura de la navbar
    background: linear-gradient(90deg, #242323 25%, #5f5e5e 50%, #242323);
    position: fixed;
    top: 0;
    display: flex;
    z-index: 1;
    justify-content: space-between;

    &__menu{
        margin: pxArem(30);
        cursor: pointer;
        display: none;
        
    }

    &__links{
        ul{
            color: white;
            position: relative;
            top: pxArem(45);
            left: pxArem(150);
            display: flex;
            list-style: none;
            gap: pxArem(42);
            cursor: pointer;
            li{
                &:hover{
                text-decoration: underline;
            }
            }
        }
        

    }

    &__logo{
        img{
            width: pxArem(90);
            height: pxArem(60);
            position: relative;
            top: pxArem(20);
            right: pxArem(60);
        }
        
    }

    &__cartlogo{
        position: relative;
        top: pxArem(30);
        right: pxArem(150);
        cursor: pointer;
        svg{
            &:hover{
                fill: #cfcbcb;
            }
        }
        .numItems{
        color: #fff;
        background-color: red;
        width: 15px;
        height: 15px;
        text-align: center;
        border-radius: 50%;
        font-size: clamp(0.5rem, 0.8vw, 1rem);
        font-weight: 600;
        position: absolute;
        top: pxArem(2);
        right: pxArem(-4);
        }
        
    }
}