.enviosgratis {
    position: fixed;
        top: 0;
        z-index: 4;
        width: 100%;
        height: pxArem(39);
        background-color: #242323;
    
    &__container{
        background-color: #242323;
        position: fixed;
        top: 0;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem; 
        width: 100%;
        height: 2.4375rem; 
        animation: marquee 15s linear infinite;
        overflow: hidden; 
            img    {
                width: pxArem(21); 
                
            }
            p {
                color: white;
                font-weight: 600;
                @media (max-width: pxArem(480)){
                    
                    white-space: wrap;
                    font-size: pxArem(12); // ajusta según el diseño
                    overflow: auto; // permite desplazamiento horizontal si es necesario
                    max-width: calc(100% - pxArem(25)); // deja espacio para la imagen
                    direction: ltr;
                }
            }
    }
    @media(max-width: pxArem(480)){
        z-index: 10;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        /* Mueve el párrafo completo (incluido su padding) hacia la izquierda */
        transform: translateX(-100%);
    }
}

.navbar{
    width: 100%;
    height: 100px; //altura de la navbar
    background: linear-gradient(90deg, #242323 25%, #5f5e5e 50%, #242323);
    position: fixed;
    top: pxArem(39);
    display: flex;
    z-index: 9;
    justify-content: space-between;

    &__menu{
        margin: pxArem(30);
        cursor: pointer;
        display: none;
        @media (max-width: 480px) {
            display: block;
        }
    }

    &__responsivelinks{
        background-color: #25252B;
        position: fixed;
        top: pxArem(100);
        left: pxArem(-120);
        width: pxArem(120);
        height: pxArem(150);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform ease-in-out 0.6s;
        #closeresponsivemenu{
        
            z-index: 3;
            position: absolute;
            top: pxArem(0);
            left: pxArem(98);
        }
        ul{
            width: 100%;
            margin-top: pxArem(23);
            li{
                 a{
                    color: white;
                    text-decoration: none;
                }
                
                cursor: pointer;
                color: white;
                padding: pxArem(9);
                background-color: #25252B;
                &:hover{
                    background-color: white;
                    color: black;
                    font-weight: bold;
                }
               
            }
        }
    }

    .active{
        display: block;
        transform: translateX(pxArem(120));
    }

   

    &__links{
        ul{
            color: white;
            position: relative;
            top: pxArem(45);
            left: pxArem(150);
            display: flex;
            list-style: none;
            gap: pxArem(42);
            cursor: pointer;
            li{
                a{
                    text-decoration: none;
                    color: white;
                    &:active{
                        color: #cfcbcb;
                        text-decoration: none;
                    }
                    &:visited{
                        color: white;
                        text-decoration: none;
                    }
                }
                &:hover{
                text-decoration: underline;
            }
            }
        }

        @media (max-width: 820px) {
            ul{
                left: pxArem(36);
            }
        }
        @media (max-width: 480px) {
            display: none;
        }

    }

    &__logo{
        img{
            width: pxArem(90);
            height: pxArem(60);
            position: relative;
            top: pxArem(20);
            right: pxArem(60);
        }
        @media(max-width: pxArem(820)){

        }
        @media(max-width: pxArem(480)){
            img{
                width: pxArem(90);
                height: pxArem(60);
                top: pxArem(21);
                right: pxArem(21);
            }
        }
    }

    &__cartlogo{
        position: relative;
        top: pxArem(30);
        right: pxArem(150);
        cursor: pointer;
        svg{
            @media (max-width: pxArem(420)){
                width: pxArem(36);
                height: pxArem(36);
            }
            &:hover{
                fill: #cfcbcb;
            }
        }
        .numItems{
        color: #fff;
        background-color: red;
        width: 15px;
        height: 15px;
        text-align: center;
        border-radius: 50%;
        font-size: clamp(0.5rem, 0.8vw, 1rem);
        font-weight: 600;
        position: absolute;
        top: pxArem(2);
        right: pxArem(-4);
        }
        @media(max-width: pxArem(820)){
            right: pxArem(48);
        }
        @media(max-width: pxArem(480)){
            right: pxArem(18);
           
        }
    }
}

 