.hero {
  width: 100%;
  height: pxArem(460);
  position: relative;
  top: pxArem(178);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: pxArem(100);
  background: linear-gradient(90deg, #242323 25%, #5f5e5e 50%, #242323);
  margin: 0 auto;
  padding: 0 pxArem(40);
  

  &__titles {
    

    h1 {
      padding: pxArem(18) 0;
      font-size: pxArem(29);
      color: white;
      @media(max-width: pxArem(480)){
        
        position: absolute;
        top: pxArem(-12);
        left: pxArem(90);
      }
    }

    p {
      font-size: pxArem(20);
      color: white;
      @media(max-width: pxArem(480)){
        position: absolute; 
        top: pxArem(310);
      }
    }
    @media(max-width: pxArem(480)){
      
      padding: pxArem(12);
      text-align: center;
    }
  }

  &__images{
    width: pxArem(460);
    height: pxArem(460);
    img{
      width: 100%;
      height: pxArem(460);
      border-radius: pxArem(39);
      padding: pxArem(20) 0;
      transition: opacity 0.5s ease-in-out;
      @media (max-width: pxArem(480)){
        position: absolute;
        top: pxArem(33);
        left: pxArem(24);
        width: pxArem(270);
        height: pxArem(270);
      }
    }
  }

  @media (max-width: pxArem(480)){
    padding: pxArem(20);
  }
  
}