@charset "UTF-8";
.enviosgratis {
  width: 100%;
  height: 2.4375rem;
  background-color: #242323;
}
.enviosgratis__container {
  background-color: #242323;
  position: fixed;
  top: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 2.4375rem;
  animation: marquee 15s linear infinite;
  overflow: hidden;
}
.enviosgratis__container img {
  width: 1.3125rem;
}
.enviosgratis__container p {
  color: white;
  font-weight: 600;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    /* Mueve el párrafo completo (incluido su padding) hacia la izquierda */
    transform: translateX(-100%);
  }
}
.navbar {
  width: 100%;
  height: 100px;
  background: linear-gradient(90deg, #242323 25%, #5f5e5e 50%, #242323);
  position: fixed;
  top: 2.4375rem;
  display: flex;
  z-index: 1;
  justify-content: space-between;
}
.navbar__menu {
  margin: 1.875rem;
  cursor: pointer;
  display: none;
}
@media (max-width: 480px) {
  .navbar__menu {
    display: block;
  }
}
.navbar__responsivelinks {
  background-color: #25252B;
  position: fixed;
  top: 6.25rem;
  left: -7.5rem;
  width: 7.5rem;
  height: 9.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform ease-in-out 0.6s;
}
.navbar__responsivelinks #closeresponsivemenu {
  z-index: 3;
  position: absolute;
  top: 0rem;
  left: 6.125rem;
}
.navbar__responsivelinks ul {
  width: 100%;
  margin-top: 1.4375rem;
}
.navbar__responsivelinks ul li {
  cursor: pointer;
  color: white;
  padding: 0.5625rem;
  background-color: #25252B;
}
.navbar__responsivelinks ul li a {
  color: white;
  text-decoration: none;
}
.navbar__responsivelinks ul li:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}
.navbar .active {
  display: block;
  transform: translateX(7.5rem);
}
.navbar__links ul {
  color: white;
  position: relative;
  top: 2.8125rem;
  left: 9.375rem;
  display: flex;
  list-style: none;
  gap: 2.625rem;
  cursor: pointer;
}
.navbar__links ul li a {
  text-decoration: none;
  color: white;
}
.navbar__links ul li a:active {
  color: #cfcbcb;
  text-decoration: none;
}
.navbar__links ul li a:visited {
  color: white;
  text-decoration: none;
}
.navbar__links ul li:hover {
  text-decoration: underline;
}
@media (max-width: 820px) {
  .navbar__links ul {
    left: 2.25rem;
  }
}
@media (max-width: 480px) {
  .navbar__links {
    display: none;
  }
}
.navbar__logo img {
  width: 5.625rem;
  height: 3.75rem;
  position: relative;
  top: 1.25rem;
  right: 3.75rem;
}
@media (max-width: 30rem) {
  .navbar__logo img {
    width: 5.625rem;
    height: 3.75rem;
    top: 1.3125rem;
    right: 1.3125rem;
  }
}
.navbar__cartlogo {
  position: relative;
  top: 1.875rem;
  right: 9.375rem;
  cursor: pointer;
}
@media (max-width: 26.25rem) {
  .navbar__cartlogo svg {
    width: 2.25rem;
    height: 2.25rem;
  }
}
.navbar__cartlogo svg:hover {
  fill: #cfcbcb;
}
.navbar__cartlogo .numItems {
  color: #fff;
  background-color: red;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  font-size: clamp(0.5rem, 0.8vw, 1rem);
  font-weight: 600;
  position: absolute;
  top: 0.125rem;
  right: -0.25rem;
}
@media (max-width: 51.25rem) {
  .navbar__cartlogo {
    right: 3rem;
  }
}
@media (max-width: 30rem) {
  .navbar__cartlogo {
    right: 1.125rem;
  }
}

.whatsapp {
  background: linear-gradient(90deg, #242323 25%, #5f5e5e 50%, #242323);
  width: 100%;
  height: 2.4375rem;
  position: relative;
  top: 6.25rem;
  display: flex;
  gap: 0.375rem;
  justify-content: center;
  align-items: center;
  border-top: 0.0625rem solid #5f5e5e;
  border-bottom: 0.0625rem solid #5f5e5e;
}
.whatsapp a {
  text-decoration: none;
}
.whatsapp a p {
  color: white;
}
.whatsapp a p:hover {
  color: rgb(102, 221, 102);
}

.productos {
  width: 100%;
  position: relative;
  top: 6.25rem;
  background: linear-gradient(90deg, #242323 25%, #5f5e5e 50%, #242323);
}
.productos__titles {
  width: 78%;
  margin: 0 auto;
}
.productos__titles h1 {
  padding: 1.125rem 0 1.125rem 0;
  font-size: 1.8125rem;
  color: white;
}
.productos__titles p {
  font-size: 1.25rem;
  color: white;
}
.productos__container {
  padding: 1.5rem 0 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  -moz-column-gap: 1.75rem;
       column-gap: 1.75rem;
  row-gap: 1.75rem;
  width: 78%;
  margin: 0 auto;
}
.productos__container .producto {
  background: linear-gradient(90deg, #242323 25%, #5f5e5e 50%, #242323);
  width: 11.25rem;
  height: 21.875rem;
  border-radius: 0.5625rem;
  cursor: pointer;
}
.productos__container .producto img {
  width: 100%;
  height: 11.25rem;
  border-radius: 0.5625rem 0.5625rem 0 0;
}
.productos__container .producto h3 {
  text-align: center;
  padding: 0.75rem 0 0.75rem 0;
  color: white;
  font-size: 1.125rem;
}
.productos__container .producto p {
  text-align: center;
  padding-bottom: 0.75rem;
  font-size: 1.3125rem;
  color: white;
}
.productos__container .producto .productos__counter {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.productos__container .producto .productos__counter .counterminus {
  width: 1.875rem;
  height: 1.875rem;
}
.productos__container .producto .productos__counter .cantidad {
  font-size: 1.125rem;
  margin: 0.1875rem;
}
.productos__container .producto .productos__counter .counterplus {
  width: 1.875rem;
  height: 1.875rem;
}
.productos__container .producto button {
  display: block;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  width: 9.375rem;
  height: 1.5rem;
  background-color: #312918;
  border: 0.125rem solid #794617;
  border-radius: 0.5625rem;
  font-size: 0.9375rem;
  cursor: pointer;
}
.productos__container .producto button:hover {
  border: 0.1875rem solid #e49d06;
}
@media (max-width: 30rem) {
  .productos__container {
    width: 50%;
  }
}

.footer__container {
  position: relative;
  top: 6.25rem;
  background: linear-gradient(90deg, #242323 25%, #5f5e5e 50%, #242323);
  padding: 1rem 0;
}
.footer__container img {
  width: 5.625rem;
  height: 3.75rem;
  display: block;
  margin: 0 auto;
}
.footer__container h3 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin: 0.9375rem 0;
}
.footer__container p {
  color: white;
  font-size: 1.125rem;
  text-align: center;
  margin: 0.9375rem 0;
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 1.3125rem;
  align-items: center;
  margin: 0.9375rem 0;
}
.footer__icons svg {
  cursor: pointer;
}
.footer__icons svg:hover {
  fill: #1d1c1c;
}

.cart {
  width: 18.75rem;
  height: 80%;
  padding: 0.9375rem;
  text-align: center;
  background-color: white;
  position: fixed;
  right: -18.75rem;
  top: 6.25rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  transition: transform 0.3s ease-in-out;
  z-index: 3;
}
.cart #closecart {
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
}
.cart #closecart:hover {
  cursor: pointer;
  fill: red;
}
.cart h2 {
  margin-bottom: 0.75rem;
}
.cart__container {
  height: 18.75rem;
  overflow-y: scroll;
  padding: 0.9375rem;
  font-weight: 600;
}
.cart__container p {
  margin: 0.75rem auto;
}
.cart .productReview {
  display: flex;
  gap: 1.125rem;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 9px;
}
.cart .productReview img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.cart .productReview p {
  font-size: 15px;
  font-weight: 500;
}
.cart .productReview h3 {
  font-size: 15px;
  font-weight: 500;
}
.cart .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 1.5rem;
}
.cart .total p {
  font-weight: 600;
}
.cart .pagobutton {
  width: 100%;
  height: 2.625rem;
  color: white;
  background-color: black;
  border-radius: 0.5625rem;
  cursor: pointer;
  font-size: 1.125rem;
}

.visible {
  display: block;
  transform: translateX(-18.75rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=style.css.map */