@import 'base/functions';
@import 'base/mixins';

@import 'layout/header';
@import 'layout/whatsapp';
@import 'layout/productos';
@import 'layout/footer';
@import 'layout/cart';

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}